<div>
  <div *ngIf="comments !== undefined">
    <h2>Comments</h2>
    <ul class="comments">
      <li *ngFor="let comment of comments">
        <p>{{comment.author}}</p>
        <p>{{comment.content}}</p>
        <p>{{comment.created_at}}</p>
      </li>
    </ul>
  </div>
  <form #form="ngForm" (ngSubmit)="addComment(form)">
    <label for="author"> Author </label>
    <input id="author" type="text" name="author" [value]="comment.author" appTwoWords [(ngModel)]="comment.author" #author="ngModel" required>
    <div class="alert" *ngIf="author.errors?.required && (author.dirty && author.touched)">Author is required</div>
    <div class="alert" *ngIf="author.errors?.twoWords && (author.dirty && author.touched)">Two words with capital letters must be present</div>
    <label for="comment"> Comment </label>
    <textarea id="comment" type="text" name="content" [value]="comment.content" [(ngModel)]="comment.content" #content="ngModel" required></textarea>
    <div class="alert" *ngIf="content.invalid && (content.dirty || content.touched)">Comment is required</div>
    <input type="submit">
  </form>
</div>
